/*.pantallasOcultas{
    display: none;
}
*/

body {
       background-image: url(https://vignette.wikia.nocookie.net/imagenes7216/images/b/bc/Fondo_Azul_Abstracto.jpg/revision/latest?cb=20170612010654&format=original&path-prefix=es);
       position: absolute;        
}
#titulo{
    font-family: 'Major Mono Display', monospace;
    color: whitesmoke;
    font-size: 40px;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5em;
    padding-right:0px;
    border-bottom-style: double;
    border-bottom-color: aliceblue;
    border-bottom-width: 5px;
    vertical-align: middle;}   
    
#titulo1{
        font-family: 'Major Mono Display', monospace;
        color: whitesmoke;
        font-size: 40px;
        text-align: center; 
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5em;
        padding-right:0px;
        border-bottom-style: double;
        border-bottom-color: aliceblue;
        border-bottom-width: 5px;
        vertical-align: middle;
        display: inline-block}   
i{
        font-size: 30px;
        color: whitesmoke;
        padding: 0px,0px;
}
    #titulo,i{
        display: inline-block;}  

#presentación{
        font-family: 'Nanum Gothic', sans-serif;    
        color: whitesmoke;
        font-style: oblique;
        font-size: 17px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px }
#mostrarInstrucciones{
        background-image: url(https://66.media.tumblr.com/ff0144bbe37b0956cf870683960946bb/tumblr_pltkzrbd6l1vevohko1_1280.png);
       
        display: none;
        width: 100%;
        padding-bottom: 75%;
        padding-right: 100%;
        margin-left: 20px;
        background-repeat: no-repeat;
}

        
             
h2{
        font-family: 'Nanum Gothic', sans-serif;    
        color: whitesmoke;
        font-size: 17px;
        text-align: left;
        padding-bottom: 15px;
        padding-top: 0px;}

.cuadro{
        vertical-align: middle;
        display: inline-block;
        height: 50px;
        width: 300px; }
#pagCode{
        display: none;}


.pushbutton{
   border-radius: 55px 55px 55px 55px;
   -moz-border-radius: 55px 55px 55px 55px;
   -webkit-border-radius: 55px 55px 55px 55px;
   border: 2px dashed #ffffff;   
   background: none;
   font-family: 'Nanum Gothic', sans-serif;    
   color: whitesmoke;
   float:none;
   font-size: 15px;
   
}

   button:hover {
	background: #ffffff;
	border: 2px solid turquoise;
	color: rgb(44, 189, 233);
        cursor: pointer;}
        
#posicion{
        padding-left: 280px;
  justify-content: center;
}
   #offsets{
           padding: 20px,20px,20px;
                }
#offsetChoice{
 object-position: left;
 padding-right: 3em;
 
 
}
#offsetChoice2{
        position: relative;        
        padding-left: 3em;
        left: 370px;
        top:194px; 
        width:80px;}
        

#posicionDecode{
        padding-top: 0px;
        padding-left: 400px;
        position: relative;}

#regreso{
        width: 90px;
        height: 90px;
        background-color: rgb(15, 206, 190);
        border-radius: 100px;
        text-align: center;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        border: 0px;
        color: rgb(5, 90, 146);
        margin-left: 800px;
        margin-top: 35px;}



    
    