/*.pantallasOcultas{
    display: none;
}
*/

body {
       background-image: url(https://vignette.wikia.nocookie.net/imagenes7216/images/b/bc/Fondo_Azul_Abstracto.jpg/revision/latest?cb=20170612010654&format=original&path-prefix=es);
       position: absolute;        
}
#titulo{
    font-family: 'Major Mono Display', monospace;
    color: whitesmoke;
    font-size: 40px;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5em;
    padding-right:0px;
    border-bottom-style: double;
    border-bottom-color: aliceblue;
    border-bottom-width: 5px;
    vertical-align: middle;}   
i{
        font-size: 30px;
        color: whitesmoke;
        padding: 0px,0px;
}
    #titulo,i{
        display: inline-block;}  

#presentación{
        font-family: 'Nanum Gothic', sans-serif;    
        color: whitesmoke;
        font-style: oblique;
        font-size: 17px;
        text-align: center;
        padding-top: 20px; }

        
             
h2{
        font-family: 'Nanum Gothic', sans-serif;    
        color: whitesmoke;
        font-size: 17px;
        text-align: left;
        padding-bottom: 15px;
        padding-top: 0px;}

.cuadro{
        vertical-align: middle;
        display: inline-block;
        height: 50px;
        width: 300px; }
#pagCode{
        display: none;}
#mostrarInstrucciones{
        display: none;}
.pushbutton{
   border-radius: 55px 55px 55px 55px;
   -moz-border-radius: 55px 55px 55px 55px;
   -webkit-border-radius: 55px 55px 55px 55px;
   border: 2px dashed #ffffff;   
   background: none;
   font-family: 'Nanum Gothic', sans-serif;    
   color: whitesmoke;
   float:none;
   font-size: 15px;}

   button:hover {
	background: #ffffff;
	border: 2px solid turquoise;
	color: rgb(44, 189, 233);
        cursor: pointer;}
        
#posicion{
        padding-left: 280px;
  justify-content: center;
}
   #offsets{
           padding: 20px,20px,20px;
                }
#offsetChoice{
 object-position: left;
 padding-right: 3em;
 
 
}
#offsetChoice2{
        position: relative;        
        padding-left: 3em;
        left: 370px;
        top:194px; 
        width:80px;}
        

#posicionDecode{
        padding-top: 0px;
        padding-left: 400px;
        position: relative;}



    
    